@using Sitecore.Presentation
@using Sitecore.Mvc.Analytics.Extensions

@model RenderingModel

@{
    Layout = null;
    var SC = Html.Sitecore();

    var contextItem = RenderingContext.Current.ContextItem;
    var parentItem = contextItem.Parent;
    string CssClass = string.Format("{0} {1}", contextItem.Name, parentItem.Name);

    System.Func<Sitecore.Data.Items.Item, Sitecore.Data.Items.Item, string> titleFunc = (rootItem, currentItem) =>
    {
        var title = rootItem.GetText("title");
        if (currentItem != null)
        {
            title += " &ndash; " + currentItem.DisplayName;
        }
        return title;
    };
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>@SC.LayoutTitle(titleFunc, 2)</title>

    <link href='~/CMSContent/retirement/css/main.css' type="text/css" rel="stylesheet" />
    <!--[if lte IE 8]>
    <link href='css/IE8.css' type="text/css" rel="stylesheet">
    <![endif]-->
    <script src="~/CMSContent/retirement/js/modernizr.custom.79084.js"></script>
    <script type='text/javascript' src='~/CMSContent/retirement/js/jquery-1.10.2.min.js'></script>
    <script type='text/javascript' src='~/CMSContent/retirement/js/jquery.lightbox_me.js'></script>

    <!--[if lt IE 10]>
    <script type="text/javascript" src="js/PIE.js"></script>
    <![endif]-->
    <script type='text/javascript' src='~/CMSContent/retirement/js/site.js'></script>

    <link rel="icon"
          type="image/ico"
          href="/img/AssetMark_Icon_16.ico" />    
    
    @Html.Sitecore().VisitorIdentification()
</head>

<body class="@Html.Sitecore().Field("BodyCssClass")">

    <div id='content' class='container'>
        <div id='content-main' class='unit unit-main'>


            @Html.Sitecore().Placeholder("Header")

            @Html.Sitecore().Placeholder("Container")

            @Html.Sitecore().Placeholder("Footer")

        </div>

    </div>

</body>
</html>
